.background{
    background: url('../../img/bg.png')  center / cover  no-repeat;
    height: 100vh;
    margin-top: 20px;
}
@media screen and (max-width: 992px) {
    .background{
        background: url('../../img/mountains.png')  center / cover  no-repeat;
        height: 100vh;
    }
  }

.text h6{
    font-size: 19px;
   }


.follow{
    text-align: center;
    margin-top: 28px;
    margin-bottom: 28px;
}

.insta{
    margin-right: 30px;
}
.insta:hover{
    height: 38px;
    width: 38px;
    transition: all .3s ease-in-out;
}

.facebook:hover{
    height: 38px;
    width: 38px;
    transition: all .3s ease-in-out;
}
