@import '../../vars.css';

.nav{
    min-height: 70px;
    font-size: 19px;
    background-color: rgba(195, 243, 255, 0.164);
}

.nav a{
    text-decoration: none;
    color: inherit;
    color: var(--basic-color);
}

.navItems{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navLink{
    padding: 0 25px 0 25px;  
    text-transform: uppercase;
    transition: 0.5s;
}
.navLink:hover{
    color: var(--hover-color);
    transform: scale(1.1);
}

.activeLink {
    color: var(--hover-color)!important;
    font-size: 21px;
}

.btn{
    font-size: 19px;
}

.brand{
    width: 97px;
    height: 50px;
    padding: 2px;
    background: rgba(4, 255, 4, 0.384);
    text-align: center;
    color: white;
    border-radius: 5px;
}
.brand span{
    color:rgba(68, 23, 23, 0.815);
    font-size: 17px;
}
.brand .txt{
    color: white;
    font-size: 20px;
    font-weight: 600;
}